<nav class="navbar navbar-fixed-top navbar-white" role="navigation">
    <div class="navbar-mask"></div>
    <div class="main-container">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="/" style="height: 80px;">
                <img alt="Logo white" class="dn logo-white"
                     src="https://offer-assets.b0.upaiyun.com/assets/logo-white-b8821ee704ad3efaf3a40dce3a6eb1f0.png"
                     style="display: inline;">
            </a>
        </div>
        <div>
            <ul ng-include="header.path" class="nav navbar-nav custom-right navbar-right" style="margin-right:10px;">
            </ul>
        </div>
    </div>
</nav>

<div class="main-container content-container">
    <div class="left-content">
        <div class="announce-item">
            <div class="announce-left">
                <img src="http://tb.himg.baidu.com/sys/portrait/item/467bd2d4b0b6a008" alt="logo"/>
            </div>
            <div class="announce-right">
                <div class="announce-content">
                    今天和嘻嘻嘻公司达成了协议，价值500块钱拿去买糖吃吧！！
                    今天天气不好，有飞机被台风卷走了，所以，延迟发货一天，亲你们不要着急呀！！
                    当里个当，当里个当！！
                </div>
                <div class="announce-bottom">
                    <div class="bottom-left">nick 2014-09-24</div>
                    <div class="bottom-right">评论 赞</div>
                </div>
            </div>
        </div>
        <div class="announce-item">
            <div class="announce-left">
                <img src="http://tb.himg.baidu.com/sys/portrait/item/467bd2d4b0b6a008" alt="logo"/>
            </div>
            <div class="announce-right">
                <div class="announce-content">
                    今天和嘻嘻嘻公司达成了协议，价值500块钱拿去买糖吃吧！！
                    今天天气不好，有飞机被台风卷走了，所以，延迟发货一天，亲你们不要着急呀！！
                    当里个当，当里个当！！
                </div>
                <div class="announce-bottom">
                    <div class="bottom-left">nick 2014-09-24</div>
                    <div class="bottom-right">评论 赞</div>
                </div>
            </div>
        </div>
        <div class="announce-item">
            <div class="announce-left">
                <img src="http://tb.himg.baidu.com/sys/portrait/item/467bd2d4b0b6a008" alt="logo"/>
            </div>
            <div class="announce-right">
                <div class="announce-content">
                    今天和嘻嘻嘻公司达成了协议，价值500块钱拿去买糖吃吧！！
                    今天天气不好，有飞机被台风卷走了，所以，延迟发货一天，亲你们不要着急呀！！
                    当里个当，当里个当！！
                </div>
                <div class="announce-bottom">
                    <div class="bottom-left">nick 2014-09-24</div>
                    <div class="bottom-right">评论 赞</div>
                </div>
            </div>
        </div>
        <div class="announce-item">
            <div class="announce-left">
                <img src="http://tb.himg.baidu.com/sys/portrait/item/467bd2d4b0b6a008" alt="logo"/>
            </div>
            <div class="announce-right">
                <div class="announce-content">
                    今天和嘻嘻嘻公司达成了协议，价值500块钱拿去买糖吃吧！！
                    今天天气不好，有飞机被台风卷走了，所以，延迟发货一天，亲你们不要着急呀！！
                    当里个当，当里个当！！
                </div>
                <div class="announce-bottom">
                    <div class="bottom-left">nick 2014-09-24</div>
                    <div class="bottom-right">评论 赞</div>
                </div>
            </div>
        </div>
        <div class="announce-item">
            <div class="announce-left">
                <img src="http://tb.himg.baidu.com/sys/portrait/item/467bd2d4b0b6a008" alt="logo"/>
            </div>
            <div class="announce-right">
                <div class="announce-content">
                    今天和嘻嘻嘻公司达成了协议，价值500块钱拿去买糖吃吧！！
                    今天天气不好，有飞机被台风卷走了，所以，延迟发货一天，亲你们不要着急呀！！
                    当里个当，当里个当！！
                </div>
                <div class="announce-bottom">
                    <div class="bottom-left">nick 2014-09-24</div>
                    <div class="bottom-right">评论 赞</div>
                </div>
            </div>
        </div>
        <div class="announce-item">
            <div class="announce-left">
                <img src="http://tb.himg.baidu.com/sys/portrait/item/467bd2d4b0b6a008" alt="logo"/>
            </div>
            <div class="announce-right">
                <div class="announce-content">
                    今天和嘻嘻嘻公司达成了协议，价值500块钱拿去买糖吃吧！！
                    今天天气不好，有飞机被台风卷走了，所以，延迟发货一天，亲你们不要着急呀！！
                    当里个当，当里个当！！
                </div>
                <div class="announce-bottom">
                    <div class="bottom-left">nick 2014-09-24</div>
                    <div class="bottom-right">评论 赞</div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-content"></div>
</div>
